{{^required}}Option[{{/required}}{{#vendorExtensions.typeName}}{{vendorExtensions.typeName}}{{/vendorExtensions.typeName}}{{^vendorExtensions.typeName}}{{#isEnum}}{{classname}}.{{/isEnum}}{{{datatypeWithEnum}}}{{>valuePredicates}}{{/vendorExtensions.typeName}}{{^required}}]{{/required}}