
sealed trait {{classname}} extends EnumEntry
object {{classname}} extends Enum[{{classname}}] with CirceEnum[{{classname}}] {
val values = findValues
{{#allowableValues}}{{#enumVars}}  case object {{{name}}} extends {{classname}}
{{/enumVars}}{{/allowableValues}}
}

