{{#isListContainer}}{{#isWrapper}}{{{returnType}}}ListWrapper{{/isWrapper}}{{^isWrapper}}List[{{{returnType}}}]{{/isWrapper}}{{/isListContainer}}{{^isListContainer}}{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}}{{/isListContainer}}