{{#vendorExtensions.predicates}} Refined {{vendorExtensions.predicates}}{{/vendorExtensions.predicates}}{{#minimum}} Greater[W.`{{minimum}}`.T]{{/minimum}}{{#maximum}} Greater[W.`{{maximum}}`.T]{{/maximum}}{{#vendorExtensions.tagName}} @@ {{vendorExtensions.tagName}}{{/vendorExtensions.tagName}}