{{>licenseInfo}}

package {{package}}

{{#imports}}import {{import}}
{{/imports}}

import co.nextwireless.common.ws._
import co.nextwireless.common.ws.http4s._
import {{modelPackage}}._

import {{package}}.impl._
import io.circe.generic.auto._
import io.circe.syntax._
import io.circe.java8.time._
import org.http4s.HttpService
import org.http4s.QueryParamDecoder.fromUnsafeCast
import org.http4s.circe._
import org.http4s.dsl._
import cats.effect._, org.http4s.dsl.io._, scala.concurrent.ExecutionContext.Implicits.global
import DefaultRequestProcessorExecuter._

class {{classname}}(executionHelper: ExecutionHelper, processors: {{classname}}ProcessorsModule) {
   val httpService = HttpService[IO] {
{{#operations}}
  {{#operation}}
        case req @ {{httpMethod}} -> Root / {{& vendorExtensions.x-routeType}} =>
          executionHelper.process{{^isListContainer}}Single{{/isListContainer}}{{#isListContainer}}Sequence{{/isListContainer}}[Request_{{operationId}}, {{>returnType}}, Request_{{operationId}} => {{^isListContainer}}Single{{/isListContainer}}{{#isListContainer}}Sequence{{/isListContainer}}[{{>returnType}}]]( //Process_{{operationId}}
            processors.{{operationId}}
            , Request_{{operationId}}({{>params}})
            , _.asJson
          )
  {{/operation}}
{{/operations}}
    }
}

//INPUT PARAMS DECODERS
{{#operations}}
  {{#operation}}
    {{#allParams}}
    {{^isBodyParam}}
    {{#isListContainer}}
    object Decoder_{{operationId}}_{{paramName}} {
     def unapplySeq(params: Map[String, {{>paramDatatype}}]) = params.get("{{operationId}}_{{paramName}}")
     def unapply(params: Map[String, {{>paramDatatype}}]) = unapplySeq(params)
    }
    {{/isListContainer}}
    {{^isListContainer}}
    object Decoder_{{operationId}}_{{paramName}} extends {{^required}}Optional{{/required}}QueryParamDecoderMatcher[{{{dataType}}}]("{{paramName}}")
    {{/isListContainer}}
    {{/isBodyParam}}
    {{/allParams}}
  {{/operation}}
{{/operations}}

//INPUT DATA CASE CLASSES
{{#operations}}
  {{#operation}}
    //{{#isListContainer}}case class {{{returnType}}}ListWrapper({{{vendorExtensions.returnTypeVar}}}: List[{{{returnType}}}]){{/isListContainer}}
    case class Request_{{operationId}} (
    {{#allParams}}
        {{paramName}}: {{#isBodyParam}}{{#futureType}}Task[{{/futureType}}{{/isBodyParam}}{{>paramDatatype}}{{#isBodyParam}}{{#futureType}}]{{/futureType}}{{/isBodyParam}}{{#hasMore}},{{/hasMore}}
    {{/allParams}}
    )
  {{/operation}}
{{/operations}}
