{{#returnContainer}}{{vendorExtensions.typeName}}{{{returnType}}}{{/returnContainer}}{{^returnContainer}}{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}}{{/returnContainer}}