{{#isListContainer}}RestEmbedded[{{{returnType}}}ListWrapper]{{/isListContainer}}{{^isListContainer}}{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}}{{/isListContainer}}