{{>licenseInfo}}

package {{package}}

{{#imports}}import {{import}}
{{/imports}}


//import {{invokerPackage}}._
import {{modelPackage}}._

//import {{package}}.impl._
import io.circe.generic.auto._
import io.circe.syntax._
import cats.Applicative
import cats.FlatMap
import cats.implicits._

import org.http4s.HttpService
import org.http4s.QueryParamDecoder.fromUnsafeCast
import org.http4s.circe._
import org.http4s.dsl._
import org.http4s.dsl.impl.Root
import org.http4s.dsl.io._, scala.concurrent.ExecutionContext.Implicits.global
import cats.data.EitherT

class {{classname}}[H4F[_], PF[_]](
    ex: Http4sFunctionExecutor[H4F, PF],
{{#operations}}
    {{#operation}}
        {{operationId}}: (Request_{{operationId}}) => PF[{{>returnType}}],
    {{/operation}}
{{/operations}}
)(implicit H4F: Applicative[H4F] with FlatMap[H4F]) {
   val httpService = HttpService[H4F] {
{{#operations}}
  {{#operation}}
        case req @ {{httpMethod}} -> Root / {{& vendorExtensions.x-routeType}} =>
          ex.process[Request_{{operationId}}, {{>returnType}}]( //Process_{{operationId}}
            {{operationId}}
            ,for{
                {{#allParams}}{{#isQueryParam}}{{paramName}} <- H4F.pure({{paramName}}D)
                {{/isQueryParam}}{{#isBodyParam}}body <- ex.processBody[{{>paramDatatype}}](req){{/isBodyParam}}{{/allParams}}
                req <- H4F.pure(Request_{{operationId}}({{>params}}))
            } yield req
            , (_: {{>returnType}}).asJson
            , req
          )
  {{/operation}}
{{/operations}}
    }



//INPUT PARAMS DECODERS
{{#operations}}
    {{#operation}}
        {{#allParams}}
            {{^isBodyParam}}
object Decoder_{{operationId}}_{{paramName}} extends {{^required}}Optional{{/required}}QueryParamDecoderMatcher[{{>dataType}}]("{{paramName}}")
            {{/isBodyParam}}
        {{/allParams}}
    {{/operation}}
{{/operations}}
}

object {{classname}}{
{{#operations}}
    {{#operation}}
        {{#allParams}}{{#isEnum}}{{>enumClass}}{{/isEnum}}{{/allParams}}
    {{/operation}}
{{/operations}}

}

//INPUT DATA CASE CLASSES
{{#operations}}
  {{#operation}}
    //{{#isListContainer}}case class {{{returnType}}}ListWrapper({{{vendorExtensions.returnTypeVar}}}: List[{{{returnType}}}]){{/isListContainer}}
    case class Request_{{operationId}} (
    {{#allParams}}
        {{paramName}}: {{>optionableDataType}},
    {{/allParams}}
    )
  {{/operation}}
{{/operations}}
