{{#vendorExtensions.typeName}}{{vendorExtensions.typeName}}{{/vendorExtensions.typeName}}{{^vendorExtensions.typeName}}{{#isEnum}}{{classname}}.{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{>valuePredicates}}{{/vendorExtensions.typeName}}