{{>licenseInfo}}

package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import {{invokerPackage}}._

import enumeratum._

{{#models}}
    {{#model}}
/**
{{#title}} * = {{{title}}} =
 *
{{/title}}
{{#description}} * {{{description}}}
 *
{{/description}}
{{#vars}}
 * @param {{{name}}} {{#description}}{{{description}}}{{/description}}{{#example}} for example: ''{{{example}}}''{{/example}}
{{/vars}}
 */
        {{#isEnum}}
            {{>enumOuterClass}}
        {{/isEnum}}
        {{^isEnum}}
    case class {{classname}} (
    {{#vars}}
        {{#vendorExtensions.isExternalEnum}} {{/vendorExtensions.isExternalEnum}}{{& name}}: {{>optionableListableDataType}}{{#hasMore}},{{/hasMore}}
    {{/vars}}
    )

    object {{classname}} {
            {{#vars}}
                {{#isEnum}}
                    {{^isContainer}}
    {{>enumClass}}
                    {{/isContainer}}
                {{/isEnum}}
                {{#items.isEnum}}
                    {{#items}}
                        {{^isContainer}}
    {{>enumClass}}
                        {{/isContainer}}
                    {{/items}}
                {{/items.isEnum}}
            {{/vars}}
    }


        {{/isEnum}}
    {{/model}}
{{/models}}
