{{#returnContainer}}{{#isListContainer}}{{vendorExtensions.x-containerType-start}}{{/isListContainer}}{{vendorExtensions.typeName}}{{{returnType}}}{{#isListContainer}}{{vendorExtensions.x-containerType-end}}{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}}{{/returnContainer}}